# Core
streamlit==1.26.1
pandas>=2.1.2
openpyxl==3.1.3

# Git access (optional, only if using GitPython for private repo)
GitPython==3.1.32

# Standard Python libraries (built-in, no need to install separately)
# re, io, html, os
